<h3>Reactive Forms</h3>
<div>
    <form [formGroup]="registraionForm" (ngSubmit)="onsubmit()">
        <label for="firstName">First Name</label>
        <input type="text" placeholder="First Name" formControlName="firstName"
            [ngClass]="{'is-invalid':submit&& formContols.firstName.errors}" id="firstName" class="form-control">
        <div *ngIf="submit&& formContols.firstName.errors">
            <div *ngIf="submit&& formContols.firstName.errors['required']" class="text-danger">
                First Name is required
            </div>
        </div>

        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" placeholder="Last Name" class="form-control" formControlName="lastName"
            [ngClass]="{'is-invalid':submit&& formContols.lastName.errors}">
        <div *ngIf="submit&& formContols.lastName.errors">
            <div *ngIf="submit&& formContols.lastName.errors['required']" class="text-danger">
                Last Name is required
            </div>
        </div>
        <label for="phone">Phone</label>
        <input type="number" placeholder="Phone" id="phone" class="form-control" formControlName="phone"
            [ngClass]="{'is-invalid':submit&& formContols.phone.errors}">
        <div *ngIf="submit&& formContols.phone.errors" class="invalid-feedback">
            <div *ngIf="submit&& formContols.phone.errors['required']">
                Phone number is required
            </div>
            <div *ngIf="submit&& formContols.phone.errors['pattern']">
                Invalid Phone number </div>
        </div>

        <label for="email">Email</label>
        <input type="email" placeholder="Email" id="email" class="form-control" formControlName="email"
            [ngClass]="{'is-invalid':submit&& formContols.email.errors}">
        <div *ngIf="submit&& formContols.email.errors">
            <div *ngIf="submit&& formContols.email.errors['required']" class="text-danger">
                Email Id is required
            </div>
            <div *ngIf="submit&& formContols.email.errors['email']" class="text-danger">
               Invalid Email Id 
            </div>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>