.menu{
    list-style: none;
}

.menu li {
    float: left;
    background-color: green;
    padding: 10px;
    color: white;
    cursor: pointer;
}
.menu li :hover{
    background-color: darkslategray;
}
 .menu li a {
    color: white;
    text-decoration: none;
 }