<nav class="navbar bg-body-tertiary">
  <div class="main-div">

    <div class="container-fluid">
      Angular Routing
    </div>
    <div>
      <ul class="ul-div">
        <li [routerLink]="['/home']" style="cursor: pointer;">
          Home
        </li>
        <li [routerLink]="['/contact-us']" style="cursor: pointer;">
          Contact Us
        </li>
        <li [routerLink]="['/about-us']" style="cursor: pointer;">
          About Us
        </li>
        <li [routerLink]="['/dynamic-form']" style="cursor: pointer;">
          Dynamic  form
        </li>
        <li [routerLink]="['/comp1']" style="cursor: pointer;">
          Comp1
        </li>
        <li [routerLink]="['/comp2']" style="cursor: pointer;">
          Comp2
        </li>
        <li [routerLink]="['/home1']" style="cursor: pointer;">
          Home1
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet>

</router-outlet>