.main-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
}

.ul-div {
    display: flex;
    list-style: none;
}

.ul-div>li {
    padding: 5px;
}